.category-footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}
@media (max-width: 1200px) {
  .category-footer {
    display: flex;
  }
}
.category-footer .header__nav-wrapper {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
}
.category-footer .header__wrapper-item {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-footer .header__item {
  width: 99px;
  height: 85px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: #212529;
  font-weight: 700;
}
@media (max-width: 420px) {
  .category-footer .header__item {
    width: 49px;
  }
}
.category-footer .header__item span {
  margin-top: 4px;
}
.category-footer .header__item img {
  width: 30px;
  height: 30px;
}
.category-footer .header__wrapper-for-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer {
  margin-top: 15px;
  border-top: 4px solid #b5d8f7;
  width: 100%;
  padding: 15px 25px;
}
@media (max-width: 1200px) {
  .footer {
    padding-bottom: 80px;
  }
}
@media (max-width: 900px) {
  .footer__wrapper {
    display: none;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 900px) {
  .footer__top {
    flex-direction: column;
  }
}
.footer__logo {
  max-width: 110px;
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer__menu {
  width: 225px;
  display: flex;
  justify-content: space-between;
  line-height: 1em;
  transition: 0.35s;
  padding: 0;
  margin: 0;
}
@media (max-width: 900px) {
  .footer__menu {
    margin-top: 15px;
  }
}
.footer__menu-item {
  list-style: none;
  font-size: 16px;
}
.footer__menu-item a {
  color: #212529;
}
@media (min-width: 992px) {
  .footer__menu-item a:hover {
    cursor: pointer;
    color: #b5d8f7;
    transition: 0.35s;
  }
}
@media (max-width: 900px) {
  .footer__menu-item a {
    font-size: 14px;
  }
}
.footer__info {
  display: flex;
  max-width: 43%;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 900px) {
  .footer__info {
    margin-top: 15px;
    flex-direction: column;
  }
}
.footer__info a {
  font-size: 14px;
}
.footer__info-delivery {
  text-align: center;
  font-size: 14px;
  color: #212529;
  font-weight: 700;
}
.footer__street {
  padding: 0;
}
.footer__street-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin-top: 10px;
}
.footer__info-order p {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer__info-order a {
  color: #212529;
  text-decoration: none;
  font-weight: 400;
}
.footer__info-timework {
  font-size: 14px;
}
.footer__info-timework p {
  font-weight: 700;
  margin-bottom: 10px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  font-size: 14px;
  color: #212529;
  white-space: nowrap;
}
.footer__pay-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__card-item {
  width: 69px;
  height: 39px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: -1;
}
.footer__social ul {
  display: flex;
  gap: 5px;
}
.footer__icon-btn {
  width: 49px;
  height: 49px;
  background: #b5d8f7;
  border: 2px solid #b5d8f7;
  border-radius: 10px;
  position: relative;
  transition: 0.35s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (min-width: 992px) {
  .footer__icon-btn:hover {
    background-color: #fff;
  }
}
@media (max-width: 900px) {
  .footer__icon-btn {
    width: 35px;
    height: 35px;
  }
}
.footer__developer {
  margin-right: 15px;
}
.footer__developer p {
  color: #212529;
  font-size: 14px;
  margin-bottom: 5px;
}
.footer__mobile {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}
@media (min-width: 900px) {
  .footer__mobile {
    display: none;
  }
}
.footer__mobile .logo__footer {
  max-width: 110px;
}
.footer__mobile .logo__footer img {
  width: 100%;
  height: 100%;
}
.footer__mobile .footer__social {
  margin-top: 15px;
}
.footer__mobile .footer__info-delivery li {
  font-weight: 400;
  margin-top: 5px;
}
.footer__mobile .footer__info-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
@media (max-width: 900px) {
  .footer__mobile .footer__info-order a {
    font-size: 14px;
  }
}
.footer__mobile .footer__info-timework {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}
.footer__mobile .footer__pay-cards {
  margin-top: 15px;
}
@media (max-width: 900px) {
  .footer__mobile .footer__pay-cards {
    justify-content: center;
  }
}
.footer__mobile .footer__pay-cards .footer__pay-card-item {
  width: 56px;
  height: 33px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__mobile .footer__bottom {
  width: 100%;
  margin-top: 15px;
}/*# sourceMappingURL=footer.component.css.map */