.category-footer {
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  border-top: 1px solid rgba(128, 128, 128, 0.500);

  @media (max-width:1200px) {
    display: flex;
  }

  .header__nav-wrapper {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 200;
  }

  .header__wrapper-item {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  // .header__item
  .header__item {
    width: 99px;
    height: 85px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #212529;
    font-weight: 700;

    @media (max-width: 420px) {
      width: 49px;
    }

    span {
      margin-top: 4px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .header__wrapper-for-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;


  }
}

.footer {
  margin-top: 15px;
  border-top: 4px solid #b5d8f7;
  width: 100%;
  padding: 15px 25px;

  @media (max-width:1200px) {
    padding-bottom: 80px;
  }


  &__wrapper {
    @media (max-width:900px) {
      display: none;
    }
  }

  // .footer__top
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    @media (max-width:900px) {
      flex-direction: column;
    }
  }

  // .footer__logo
  &__logo {
    max-width: 110px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .footer__menu
  &__menu {
    width: 225px;
    display: flex;
    justify-content: space-between;
    line-height: 1em;
    transition: .35s;
    padding: 0;
    margin: 0;

    @media (max-width:900px) {
      margin-top: 15px;
    }
  }

  // .footer__menu-item
  &__menu-item {
    list-style: none;
    font-size: 16px;

    a {
      color: #212529;

      @media (min-width:992px) {
        &:hover {
          cursor: pointer;
          color: #b5d8f7;
          transition: .35s;
        }
      }

      @media (max-width:900px) {
        font-size: 14px;

      }

    }
  }

  &__info {
    display: flex;
    max-width: 43%;
    width: 100%;
    justify-content: space-between;
    text-align: center;

    @media (max-width:900px) {
      margin-top: 15px;
      flex-direction: column;

    }


    a {
      font-size: 14px;
    }
  }

  // .footer__info-delivery
  &__info-delivery {
    text-align: center;
    font-size: 14px;
    color: #212529;
    font-weight: 700;
  }

  &__street {
    padding: 0;
  }

  &__street-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-top: 10px;
  }

  // .footer__info-order
  &__info-order {
    p {
      font-size: 14px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    a {
      color: #212529;
      text-decoration: none;
      font-weight: 400;
    }
  }

  // .footer__info-timework
  &__info-timework {
    font-size: 14px;

    p {
      font-weight: 700;
      margin-bottom: 10px;
    }
  }

  // .footer__bottom
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__copyright
  &__copyright {
    font-size: 14px;
    color: #212529;
    white-space: nowrap;
  }

  // .footer__pay-cards
  &__pay-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__card-item
  &__card-item {
    width: 69px;
    height: 39px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }

  // .footer__social
  &__social {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: -1;

    ul {
      display: flex;
      gap: 5px;
    }
  }

  // .footer__icon-btn
  &__icon-btn {
    width: 49px;
    height: 49px;
    background: #b5d8f7;
    border: 2px solid #b5d8f7;
    border-radius: 10px;
    position: relative;
    transition: .35s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @media (min-width:992px) {
      &:hover {
        background-color: #fff;
      }
    }

    @media (max-width:900px) {
      width: 35px;
      height: 35px;
    }
  }

  // .footer__developer
  &__developer {
    margin-right: 15px;

    p {
      color: #212529;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }

  &__mobile {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;

    @media (min-width:900px) {
      display: none;
    }




    .logo__footer {
      max-width: 110px;

      img {
        width: 100%;
        height: 100%;
      }
    }


    .footer__social {
      margin-top: 15px;

    }


    .footer__info-delivery {
      li {
        font-weight: 400;
        margin-top: 5px;
      }
    }

    .footer__info-order {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;

      a {
        @media (max-width:900px) {
          font-size: 14px;
        }
      }
    }

    .footer__info-timework {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 5px;
    }

    .footer__pay-cards {
      margin-top: 15px;

      @media (max-width:900px) {
        justify-content: center;
      }

      .footer__pay-card-item {
        width: 56px;
        height: 33px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .footer__bottom {
      width: 100%;
      margin-top: 15px;
    }


  }
}
