.header {
  width: 100%;
  height: 110px;
  display: flex;
  box-shadow: 0px 0px 2px lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
}
.header__logo {
  background-color: #b5d8f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 22px;
}
@media (max-width: 768px) {
  .header__logo {
    padding: 0 10px;
  }
}
.header__img img {
  max-width: 173px;
  height: 65px;
}
@media (max-width: 768px) {
  .header__img img {
    display: none;
  }
}
.header__img .img-mobile {
  display: none;
  width: 25px;
  height: 50px;
}
@media (max-width: 768px) {
  .header__img .img-mobile {
    display: block;
  }
}
.header__menu-link-wrapper {
  position: relative;
}
.header__menu-link-wrapper::before, .header__menu-link-wrapper::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  border-radius: 7px;
}
.header__menu-link-wrapper::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
}
.header__menu-link-wrapper::after {
  bottom: 0;
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
@media (min-width: 992px) {
  .header__menu-link-wrapper:hover {
    cursor: pointer;
  }
  .header__menu-link-wrapper:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  }
  .header__menu-link-wrapper:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  }
  .header__menu-link-wrapper:hover::before, .header__menu-link-wrapper:hover::after {
    width: 100%;
    height: 100%;
  }
}
.header__nav-wrapper {
  margin-left: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__nav-wrapper {
    display: none;
  }
}
.header__wrapper-item {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item {
  width: 99px;
  height: 85px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: #212529;
  font-weight: 700;
}
.header__item span {
  margin-top: 4px;
}
.header__item img {
  width: 30px;
  height: 30px;
}
.header__wrapper-for-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1200px) {
  .header__wrapper-for-nav {
    flex-direction: row-reverse;
  }
}
.header__burger-menu {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.header__burger-menu img {
  z-index: 101;
}
.header__burger-menu .nav-menu {
  width: 235px;
  position: absolute;
  padding: 0 25px 20px;
  background: #fff;
  border: 2px solid #b5d8f7;
  border-radius: 10px;
  top: -14px;
  left: -20px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
  z-index: 100;
}
.header__burger-menu .nav-menu.__active {
  visibility: visible;
  opacity: 1;
}
.header__burger-menu .nav-menu-item {
  display: block;
  text-decoration: none;
  font-weight: 700;
  color: #252525;
  font-size: 16px;
  line-height: 1em;
  padding: 12px 16px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.35s;
}
.header__burger-menu .nav-menu-item:first-child {
  margin-top: 57px;
}
@media (min-width: 992px) {
  .header__burger-menu .nav-menu-item:hover {
    cursor: pointer;
    color: #b5d8f7;
  }
}
.header__burger-menu::before, .header__burger-menu::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  border-radius: 7px;
}
.header__burger-menu::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
}
.header__burger-menu::after {
  bottom: 0;
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
@media (min-width: 992px) {
  .header__burger-menu:hover {
    cursor: pointer;
  }
  .header__burger-menu:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  }
  .header__burger-menu:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  }
  .header__burger-menu:hover::before, .header__burger-menu:hover::after {
    width: 100%;
    height: 100%;
  }
}
.header__burger-menu img {
  max-width: 50%;
}
.header__call-back {
  padding: 10px 15px 11px;
  background: #b5d8f7;
  border: 2px solid transparent;
  border-radius: 10px;
  line-height: 1em;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.header__call-back:hover {
  background-color: #fff;
  border: 2px solid #b5d8f7;
}
@media (max-width: 1200px) {
  .header__call-back {
    background-color: #fff;
  }
}
.header__call-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  line-height: 1em;
  font-weight: 700;
  color: #252525;
  vertical-align: middle;
}
.header__info {
  text-align: center;
}
@media (max-width: 1200px) {
  .header__info {
    display: none;
  }
}
.header__phone {
  font-size: 18px;
  font-weight: 700;
  line-height: 1em;
  color: #212529;
  transition: all 0.3s ease 0s;
  transition: 0.35s;
  text-decoration: none;
  text-align: center;
}
@media (min-width: 992px) {
  .header__phone:hover {
    color: #b5d8f7;
  }
}
@media (max-width: 1200px) {
  .header__phone {
    display: none;
  }
}
.header__work-time {
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.2em;
  color: #212529;
}
@media (max-width: 1200px) {
  .header__work-time {
    display: none;
  }
}
.header__admin {
  padding: 9px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.35s;
  position: relative;
  background-color: #b5d8f7;
  cursor: pointer;
}
.header__admin::before, .header__admin::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  border-radius: 7px;
}
.header__admin::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
}
.header__admin::after {
  bottom: 0;
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
@media (min-width: 992px) {
  .header__admin:hover {
    cursor: pointer;
  }
  .header__admin:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  }
  .header__admin:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  }
  .header__admin:hover::before, .header__admin:hover::after {
    width: 100%;
    height: 100%;
  }
}
.header__admin img {
  width: 24px;
  height: 24px;
}
.header__user {
  padding: 9px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.35s;
  position: relative;
  background-color: green;
  cursor: pointer;
}
.header__user::before, .header__user::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  border-radius: 7px;
}
.header__user::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
}
.header__user::after {
  bottom: 0;
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
@media (min-width: 992px) {
  .header__user:hover {
    cursor: pointer;
  }
  .header__user:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  }
  .header__user:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  }
  .header__user:hover::before, .header__user:hover::after {
    width: 100%;
    height: 100%;
  }
}
.header__user img {
  width: 24px;
  height: 24px;
}
.header__register {
  padding: 9px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.35s;
  position: relative;
  cursor: pointer;
}
.header__register::before, .header__register::after {
  content: "";
  position: absolute;
  z-index: -1;
  border: 2px solid transparent;
  width: 0;
  height: 0;
  border-radius: 7px;
}
.header__register::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
}
.header__register::after {
  bottom: 0;
  right: 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
@media (min-width: 992px) {
  .header__register:hover {
    cursor: pointer;
  }
  .header__register:hover::before {
    border-top-color: #b5d8f7;
    border-right-color: #b5d8f7;
    transition: width 0.1s ease-out, height 0.1s ease-out 0.1s;
  }
  .header__register:hover::after {
    border-bottom-color: #b5d8f7;
    border-left-color: #b5d8f7;
    transition: border-color 0s ease-out 0.12s, width 0.15s ease-out 0.15s, height 0.25s ease-out 0.25s;
  }
  .header__register:hover::before, .header__register:hover::after {
    width: 100%;
    height: 100%;
  }
}
.header__register img {
  width: 24px;
  height: 24px;
}
.header__basket {
  height: 100%;
  max-width: 154px;
  width: 100%;
  background-color: #b5d8f7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #b5d8f7;
}
@media (max-width: 768px) {
  .header__basket {
    max-width: 100px;
  }
}
.header__basket-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
}
@media (max-width: 768px) {
  .header__basket-wrapper {
    gap: 15px;
  }
}
@media (max-width: 768px) {
  .header__basket-wrapper img {
    width: 25px;
  }
}
.header__basket-counter {
  position: absolute;
  top: -3px;
  left: 21px;
  color: #252525;
  line-height: 1em;
  font-size: 14px;
  padding-top: 6px;
  background-color: #fff;
  transition: 0.35s;
  min-width: 26px;
  max-width: 36px;
  height: 26px;
  border-radius: 100%;
  text-align: center;
}
@media (max-width: 768px) {
  .header__basket-counter {
    top: -9px;
    left: 13px;
    min-width: 22px;
    max-width: 36px;
    height: 24px;
  }
}
.header__basket-price span {
  margin-left: 5px;
}

@media screen and (max-width: 1500px) {
  .header {
    height: 80px;
  }
  .header__item {
    width: 75px;
    height: 75px;
  }
  .header__call-back span {
    font-size: 12px;
  }
  .header__phone {
    font-size: 16px;
  }
  .header__work-time {
    font-size: 12px;
  }
}
@media screen and (max-width: 1300px) {
  .header__call-back span {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 65px;
  }
}/*# sourceMappingURL=header.component.css.map */