<div class="row">

  <div class="col-4 m-auto my-5">
    <form [formGroup]="authForm" (submit)="loginUser()">

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" name="email">
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" name="password">
      </div>
      <button type="submit" class="btn btn-success w-100" [disabled]="authForm.invalid">Login</button>
    </form>
  </div>

</div>
