.modal-content {
  position: relative;
  padding: 50px 60px 45px;
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;

  @media (max-width:1200px) {
    padding: 25px 30px 25px;
  }
}

.modal-window-header {
  text-transform: none;
  font-size: 26px;
}

.modal-title {
  margin-bottom: 5px;
  color: #252525;
  font-weight: 700;
  line-height: 1.4em;
}



.form-control {
  height: 56px;
}


.btn-cabinet {
  text-align: center;
  transition: .35s;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 16px 22px;
  border-radius: 10px;
  color: #252525;
  border: 2px solid #b5d8f7;
  background: #b5d8f7;

  &:disabled {
    background-color: transparent;
  }
}



.btn-modal-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.modal-register-btn,
.modal-forgot-pass-btn {
  font-weight: 700;
  color: #252525;
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.rules {
  display: flex;
}

.rules-text {
  margin-left: 15px;
}

.rules a {
  color: #252525;
}

.password-error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  color: red;
}
