.about {
  width: 100%;
  padding: 60px 50px;
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .about {
    padding: 60px 0;
  }
}
.about__title {
  margin: 0 auto;
  max-width: 550px;
  display: flex;
  justify-content: center;
}
.about__title h2 {
  font-size: 42px;
  line-height: 1.2em;
  color: #212529;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding-top: 10px;
  display: inline-block;
}
.about__title h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background: #b5d8f7;
}
.about__first {
  margin-top: 40px;
  padding: 0 100px;
}
@media screen and (max-width: 1100px) {
  .about__first {
    padding: 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .about__first {
    padding: 0 25px;
  }
}
.about__first h2 {
  color: #212529;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 34px;
  line-height: 1.4em;
  text-align: center;
}
@media (max-width: 768px) {
  .about__first h2 {
    font-size: 26px;
  }
}
.about__first p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  color: #5a5a5a;
  margin-bottom: 25px;
}
.about__first ul,
.about__first li {
  font-size: 18px;
  line-height: 1.47em;
  color: #5a5a5a;
  position: relative;
}
.about__first ul li,
.about__first li li {
  padding-left: 24px;
}
.about__first ul li::before,
.about__first li li::before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 9px;
  border-radius: 50%;
  border: 1px solid #b5d8f7;
  content: "";
}
.about__first ul li::after,
.about__first li li::after {
  width: 6px;
  height: 6px;
  position: absolute;
  left: 3px;
  top: 12px;
  border-radius: 50%;
  background-color: #b5d8f7;
  content: "";
}
.about__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.about__block:nth-child(even) {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .about__block {
    flex-direction: column;
    margin-top: 60px;
  }
  .about__block:nth-child(even) {
    flex-direction: column;
  }
}
.about__block-img {
  padding: 0 15px;
  width: 45%;
}
@media screen and (max-width: 1100px) {
  .about__block-img {
    width: 49%;
  }
}
@media screen and (max-width: 768px) {
  .about__block-img {
    width: 90%;
  }
}
.about__block-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.about__block-info {
  padding: 0 15px;
  width: 45%;
}
@media screen and (max-width: 1100px) {
  .about__block-info {
    width: 48%;
  }
}
@media screen and (max-width: 768px) {
  .about__block-info {
    width: 90%;
    margin-top: 30px;
  }
}
.about__block-info h3 {
  color: #252525;
  font-weight: 700;
  margin-bottom: 25px;
  font-size: 34px;
  line-height: 1.4em;
}
@media (max-width: 768px) {
  .about__block-info h3 {
    font-size: 26px;
  }
}
.about__block-info p {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: 400;
  color: #5a5a5a;
}
.about__QA {
  padding: 90px 100px;
}
@media (max-width: 768px) {
  .about__QA {
    padding: 60px 30px;
  }
}
.about__QA-title {
  color: #212529;
  font-weight: 700;
  font-size: 34px;
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .about__QA-title {
    font-size: 26px;
  }
}
.about .accordion-button {
  font-size: 20px;
  color: #212529;
  font-weight: 700;
  padding: 32px 20px 37px 0px;
  background: transparent;
}
.about .accordion-button:focus {
  box-shadow: none;
}
@media (max-width: 768px) {
  .about .accordion-button {
    font-size: 18px;
  }
}
.about .accordion-item {
  border: none;
  outline: none;
  border-top: 1px solid lightgrey;
}
.about .accordion-item:last-child {
  border-bottom: 1px solid lightgrey;
}
.about .accordion-body {
  color: #5a5a5a;
  border: none;
  outline: none;
}
.about .accordion-body p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #5a5a5a;
  line-height: 1.5em;
}
.about .accordion-body li {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 1.5em;
  position: relative;
  padding-left: 34px;
}
.about .accordion-body li::before {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 9px;
  border-radius: 50%;
  border: 1px solid #b5d8f7;
  content: "";
}
.about .accordion-body li::after {
  width: 6px;
  height: 6px;
  position: absolute;
  left: 3px;
  top: 12px;
  border-radius: 50%;
  background-color: #b5d8f7;
  content: "";
}/*# sourceMappingURL=about.component.css.map */