<section class="product">

  <div class="product__title">
    <h2>
      {{currentCategoryName}}
    </h2>
  </div>

  <div class="product__container">

    <div class="product__item" *ngFor="let product of userProducts">
      <div class="product__border">

        <div class="product__image-wrap _ibg">
          <a [routerLink]="[ '/product/'+product.category.path, product.id ]">
            <img [src]="product.imgPath" alt="">
          </a>
        </div>

        <div class="product__title-wrap">
          <div class="product__title">
            <a [routerLink]="[ '/product/'+product.category.path, product.id ]">{{product.title}}</a>
          </div>
        </div>

        <div class="product__desc">
          <p>{{product.desc}}</p>

          <div class="product__size">
            <span class="size">{{product.weight}}</span>
            
          </div>
        </div>

        <div class="product__controls">
          <div class="product__price-wrap">
            <div class="product__price">
              <b class="price">{{product.price * product.count}}</b>
              грн
            </div>
          </div>

          <div class="counter__button-group">
            <button (click)="productCount(product, false)" type="button" class="counter__btn">-</button>
            <input type="text" class="counter__product" [value]="product.count" readonly>
            <button (click)="productCount(product, true)" type="button" class="counter__btn">+</button>
          </div>
          <button class="btn__order" (click)="addToBasket(product)">Замовити</button>
        </div>
      </div>
    </div>
  </div>

</section>
