.dialog-back {
  background-color: rgba(0, 0, 0, 0.700);
}

.auth-dialog {
  width: 500px;
  min-height: 300px;
 
}


// .basket-back{
//   background-color: rgba(0, 0, 0, 0.700);
// }

.basket {
  width: 664px;
}


.phone{
  width: 500px;
  min-height: 370px;
}

.phone-back{
  background-color: rgba(0, 0, 0, 0.700);
}