.product-info {
  margin-top: 135px;
}
.product-info__container {
  max-width: 1750px;
  margin: 0 auto;
  padding: 0 30px;
}
@media (max-width: 578px) {
  .product-info__container {
    padding: 0 5px;
  }
}
.product-info__menu-list {
  margin-top: 25px;
  display: flex;
  align-items: center;
}
@media (max-width: 995px) {
  .product-info__menu-list {
    display: none;
  }
}
.product-info__menu-list li,
.product-info__menu-list a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 12px;
  line-height: 13px;
  color: #5a5a5a;
}
.product-info__menu-list li:not(:first-child) {
  margin-left: 30px;
  position: relative;
}
.product-info__menu-list li::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -16px;
  width: 4px;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 50%;
}
.product-info__content {
  max-width: 1200px;
  margin: 60px auto;
}
.product-info__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .product-info__item {
    flex-direction: column;
    padding: 0px;
  }
}
.product-info__item-img {
  width: 50%;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .product-info__item-img {
    width: 100%;
    padding: 0 10px;
  }
}
@media (max-width: 578px) {
  .product-info__item-img {
    padding: 0 5px;
  }
}
.product-info__item-img img {
  width: 100%;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-info__item-info {
  width: 50%;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .product-info__item-info {
    width: 100%;
  }
}
.product-info__item-title {
  color: #252525;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.2em;
  margin-bottom: 15px;
}
@media (max-width: 578px) {
  .product-info__item-title {
    font-size: 26px;
  }
}
.product-info__desc {
  margin-bottom: 5px;
  color: #5a5a5a;
  font-size: 18px;
  line-height: 1.5em;
}
.product-info__desc span {
  color: #b5d8f7;
  font-weight: 700;
  margin-right: 5px;
}
.product-info__navigation {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-info__price {
  font-weight: 700;
  color: #252525;
  font-size: 20px;
}
.product-info__price span {
  margin-left: 5px;
  font-weight: 400;
}

.counter__button-group {
  padding: 4px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  color: #252525;
  font-size: 16px;
  line-height: 14px;
  display: flex;
  align-items: center;
}
.counter__btn {
  border: none;
  background: transparent;
  width: 32px;
  height: 36px;
  font-size: 24px;
  line-height: 14px;
  color: #212529;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.4s;
}
@media (min-width: 992px) {
  .counter__btn:hover {
    background-color: #b5d8f7;
  }
}
.counter__product {
  border: none;
  outline: none;
  text-align: center;
  width: 32px;
  height: 36px;
  cursor: pointer;
}

.order__btn {
  background: #b5d8f7;
  border: 2px solid #b5d8f7;
  padding: 14px 16px;
  font-size: 14px;
  line-height: 14px;
  border-radius: 10px;
  color: #252525;
  font-weight: 700;
  transition: all 0.4s;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .order__btn:hover {
    background-color: #b5d8f7;
  }
}
@media (max-width: 768px) {
  .order__btn {
    padding: 10px;
    font-size: 12px;
    line-height: 12px;
  }
}/*# sourceMappingURL=product-info.component.css.map */