.delivery {
  padding-top: 60px;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 80px;

  @media (max-width: 1000px) {
    max-width: 800px;

  }

  @media (max-width: 575px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  // .delivery__title

  &__title {
    margin: 0 auto;
    max-width: 550px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    h2 {
      font-size: 42px;
      line-height: 1.2em;
      color: #252525;
      font-weight: 700;
      text-align: center;
      position: relative;
      padding-top: 10px;
      display: inline-block;

      @media (max-width:768px) {
        font-size: 34px;
      }


      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 10px;
        width: 100%;
        height: 5px;
        background: #b5d8f7;
      }
    }
  }

  // .delivery__container

  // &__container {

  // }

  // .delivery__list

  &__list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;


    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;

      :last-child {
        margin-top: 10px;
      }
    }


  }

  // .delivery__list-item

  &__list-item {
    display: flex;
    align-items: center;
    width: 50%;

    @media (max-width: 1000px) {
      width: 90%;
    }

    @media (max-width: 545px) {
      flex-direction: column;
      align-items: center;

    }
  }

  // .delivery__list-item-img

  &__list-item-img {
    width: 50%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  // .delivery__list-item-info

  &__list-item-info {
    text-align: center;
    width: 50%;
    font-size: 16px;
    line-height: 1.6em;

    h4 {
      color: #27ae60;
      margin-bottom: 10px;
      letter-spacing: .07em;
      font-size: 26px;
      line-height: 1.2em;
      font-weight: 700;
    }

    p {
      margin-top: 10px;
      font-size: 16px;
      line-height: 1.6em;
      color: #212529;
    }

    span {
      color: #27ae60;
      font-weight: 700;
      font-size: 16px;
    }

    .yellow {
      color: #f2c94c !important;
      border-radius: 15px;
    }


    @media (max-width:575px) {
      width: 100%;

    }
  }


  &__map {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 100%;
    width: 100%;

  }

  &__about {
    margin-top: 60px;
    padding: 0 40px;
    color: #212529;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;

    @media (max-width:575px) {
      font-size: 16px;
      padding: 0 15px;
    }

  }



  // .delivery__payment

  &__payment {
    margin-top: 60px;
  }

  // .delivery__payment-title

  &__payment-title {
    h2 {
      color: #212529;
      font-weight: 700;
      font-size: 42px;
      line-height: 1.2em;
      text-align: center;

      @media (max-width:768px) {
        font-size: 34px;
      }

    }


  }

  // .delivery__payment-list

  &__payment-list {
    margin-top: 40px;
    display: flex;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }

  // .delivery__payment-item

  &__payment-item {
    display: flex;
    max-width: 427px;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
  }

  // .delivery__payment-item-img

  &__payment-item-img {
    max-width: 60px;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: #b5d8f7;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .delivery__payment-item-info

  &__payment-item-info {
    h5 {
      line-height: 1.1em;
      margin: 15px 0;
      font-size: 20px;
      color: #212529;
      font-weight: 700;
    }

    p {
      font-size: 16px;

      @media (max-width:575px) {
        font-size: 14px;
        line-height: 1.6em;
      }
    }
  }

  // .delivery__about-payment

  &__about-payment {
    margin-top: 60px;
    padding: 0 40px;
    color: #212529;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    margin-bottom: 90px;

    @media (max-width:575px) {
      font-size: 16px;
      padding: 0 15px;
    }

  }
}
