.checkout {
  padding-top: 60px;
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 80px;

  @media (max-width:768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.checkout-title {
  margin: 0 auto;
  max-width: 550px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  h2 {
    font-size: 42px;
    line-height: 1.2em;
    color: #252525;
    font-weight: 700;
    text-align: center;
    position: relative;
    padding-top: 10px;
    display: inline-block;

    @media (max-width:768px) {
      font-size: 28px;
    }

    @media (max-width:585px) {
      font-size: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 10px;
      width: 100%;
      height: 5px;
      background: #b5d8f7;
    }
  }
}

.checkout-container {
  max-width: 900px;
  margin: 50px auto;

  @media (max-width:1200px) {
    max-width: 700px;
    padding: 0 20px;
  }

  @media (max-width:768px) {
    max-width: 500px;
    padding: 0 20px;
  }
}




.card-product-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dcdcdc;
  padding: 5px;

  @media (max-width:768px) {
    padding: 0;
  }
}

.card-item-container {
  display: flex;
  align-items: center;
  gap: 10px
}

.card-product-img {
  width: 122px;
  height: 92px;
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width:585px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }

}

.card-product-title {
  color: #252525;
  font-weight: 700;
  font-size: 16px;
  line-height: 1em;
  width: 200px;
}

.card-item-wrapper-nav {
  display: flex;
  align-items: center;
}

.counter {

  // .counter__button-group

  &__button-group {
    padding: 4px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: #252525;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    align-items: center;
  }

  // .counter__btn

  &__btn {
    border: none;
    background: transparent;
    width: 32px;
    height: 36px;
    font-size: 24px;
    line-height: 14px;
    color: #5a5a5a;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
    transition: all .4s;

    @media (min-width:992px) {
      &:hover {
        background-color: #b5d8f7;
      }
    }
  }

  // .counter__product

  &__product {
    border: none;
    text-align: center;
    width: 32px;
    height: 36px;

    &:focus {
      outline: none;
    }
  }
}

.cart-product-price {
  width: 75px;
  padding-left: 15px;
}


.deleteproduct {
  padding: 5px;
  cursor: pointer;
}

.btn-order {
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 16px 22px;
  color: #252525;
  border: 2px solid #b5d8f7;
  background: #b5d8f7;
  transition: all .4s;

  &:disabled {
    background-color: transparent;

    // &:hover {
    //   background: grey;
    // }
  }


  @media (min-width:992px) {
    &:hover {
      background: transparent;
    }
  }
}

.form-control {
  height: 55px;
}

.product-delivery-title {
  font-size: 22px;
  line-height: 1.2em;
  color: #252525;
  font-weight: 700;
  text-align: center;
  position: relative;
  padding-top: 10px;
  display: inline-block;

  @media (max-width:768px) {
    font-size: 16px;
  }
}

.form-select {
  max-width: 435px;
  height: 55px;
}

.card-product-fullprice {
  text-align: right;
  font-size: 22px;
  margin-top: 10px;
}

span {
  margin-left: 10px;
}

.form-control {
  resize: none;

}

.textA {
  height: 150px;
  padding-top: 30px;
}
